@model Company

 <div class="container-fluid ">
    <div class="row">
       <div class="col-lg-10 col-md-8 col-sm-12 m-auto "> 
            <div class="card border-primary rounded-3 shadow-lg mt-5 p-3 ">
            <form  method="post" enctype="multipart/form-data">
                

                    <div class="card-header bg-transparent">
                        <h2 class=" py-2"> @(Model.Id != 0 ? "Update" : "Create") Company</h2>
                        <!--- Name input -->
             </div>
             <div class="card-body bg-transparent"> 
               <div>
                   <div class="col-10">
                                <div class="form-floating mb-3">
                                    <input asp-for="Name" id="form5Example1" class="form-control rounded-3 bg-transparent border-1" />
                                    <label asp-for="Name" class="form-label" for="form5Example1">Company Name</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <!-- display order input -->

                                <div class="form-floating mb-3">
                                    <input asp-for="PhoneNumber" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />

                                    <label asp-for="PhoneNumber" class="form-label" for="form5Example2">Phone Number</label>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="StreetAddress" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                                    <label asp-for="StreetAddress" class="form-label" for="form5Example2">Street Address</label>
                                    <span asp-validation-for="StreetAddress" class="text-danger"></span>

                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="City" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                                    <label asp-for="City" class="form-label" for="form5Example2">City</label>
                                    <span asp-validation-for="City" class="text-danger"></span>

                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="State" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                                    <label asp-for="State" class="form-label" for="form5Example2">state</label>
                                    <span asp-validation-for="State" class="text-danger"></span>

                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="PostalCode" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                                    <label asp-for="PostalCode" class="form-label" for="form5Example2">Postal Code</label>
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>

                                </div>


                            </div>

                            <!-- Submit button -->
                            <div class="card-footer bg-transparent">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary  mb-4 ">Update</button>

                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary  mb-4 ">Create</button>

                                }



                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary mb-4 ms-2 ">
                                    Back to List
                                </a>
                            </div>

                   </div>
                
               </div>
                
            </form>
            </div>
    </div>
    </div>
    </div>
 

@* <div class="card shadow border-0 my-4">
    <div class="card-header bg-transparent ml-0 py-3">
        <div class="row">
            <div class="col-12 ">
                <h2 class=" py-2"> @(Model.Id != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
          
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" id="form5Example1" class="form-control rounded-3 bg-transparent border-1" />
                            <label asp-for="Name" class="form-label" for="form5Example1">Product Title </label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!-- display order input -->
                      
                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                     
                            <label asp-for="PhoneNumber" class="form-label" for="form5Example2">ISBN</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="StreetAddress" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                            <label asp-for="StreetAddress" class="form-label" for="form5Example2">Author</label>
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>

                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="City" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                            <label asp-for="City" class="form-label" for="form5Example2">Author</label>
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="State" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                            <label asp-for="State" class="form-label" for="form5Example2">List Price</label>
                            <span asp-validation-for="State" class="text-danger"></span>

                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="PostalCode" id="form5Example2" class="form-control rounded-3 bg-transparent border-1" />
                            <label asp-for="PostalCode" class="form-label" for="form5Example2">Price</label>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>

                        </div>
                     

                        <div class="row pt-2">
                            <div class="card-footer bg-transparent">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary  mb-4 ">Update</button>

                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary  mb-4 ">Create</button>

                                }



                                <a asp-controller="Company" asp-action="Index" class="btn btn-secondary mb-4 ms-2 ">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>

        </form>
    </div>
</div>
 *@


@section Scripts{
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough  | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ]
    });
</script>

    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}